.popup__user-vocation {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    width: 100%;
    height: 27px;
}

.popup__user-vocation:focus {
    box-shadow: 0 0 15px 5px #6690f0;
}